/********************************************************************************* 
* 
* WEB222 – Assignment #4b 
* 
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: _CHIRAG ALWANI___ Student ID: _153444179_____ Date: __2018/7/16____ 
* 
********************************************************************************/




/* select all the main container elements then adjust its width and margine left and right "auto"  */ 
.main-container {
    max-width:960px; 
    margin-left:auto; 
    margin-right:auto;
}


/* Select all <nav> elements that are a child of an element with class “main-container” and adjust it’s size and position */
.main-container nav {
    width:30%;
    float:left;
}

/* select the main class and set its width and position */
.main-container .main {
    width:70%;
    float:right;
}

/* select the header elements and set its padding, background color margin bottom */
.main-container header {
    padding:10px; 
    background-color: #eeeeee; 
    border-bottom: 1px solid red; 
    margin-bottom:30px;
}

/* select all the h1 tags and adjust width, font size, position, text-align and margin top */
.main-container header h1 {
    width:70%; 
    font-size:24px; 
    float:right; 
    text-align:right; 
    margin-top: 10px;
}

/*select all footer tags and adjust padding and set background color and font size */
.main-container footer {clear:both; 
    padding: 20px 10px;
    background-color: #eeeeee; 
    border-top:1px#cccccc; 
    font-size: 13px;
}

/* select elements of the id logo and adjust its width, font-size and font weight  */
#logo {
    width:30%;
    font-size: 25px;
    font-weight: bold;
}

/* select all the image tags of id logo and set its width and vertical align*/
#logo img {
    width:94px; 
    vertical-align:middle;
}

/* select all the unordered list tags of nav tag and remove the bullets */
nav ul {
    list-style-type: none;
}

/* select all the anchors inside the unordered list and remove the underline */
nav ul a {
    display: block; 
    text-decoration: none;
     padding: 5px;
}

/* select the div tags of province class and set its width, float, margin and height  */
div.province {
    width:30%; 
    float:left; 
    margin:8px; 
    height: 310px;
 }

/* select all the div tags of description class and set its max height and margin top,bottom */
div.province .description {
    max-height:165px;   
    overflow-y:scroll; 
    overflow-x:hidden; 
    margin-top:8px; 
    margin-bottom:8px;
} 

/* select all the anchors of province class and set its text-align, background color, text decoration and padding  */
div.province a {
    display: block; 
    text-align: center; 
    background-color: #555555; 
    color: #eeeeee; 
    text-decoration: none; 
    padding: 5px;
}

/*   select the image tags and set its width */  
img.flag {
    width: 100%
}

